<section class="faq">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 order-1">
                <div class="accordion text-left" id="accordionExample">

                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <button class="btn btn-accordion" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                What is Gothru Navigator?
                                <div class="img-action">
                                    <img src="../../assets/images/faq/plus.png" alt="" class="open">
                                    <img src="../../assets/images/faq/min.png" alt="" class="close">
                                </div>
                            </button>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                Gothru Navigator is a small and very flexible high-performance software for showing all kinds of panoramic images. It can be used for very detailed high-resolution images, for interactive virtual tours and many things more.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <button class="btn btn-accordion" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                How does it work?
                                <div class="img-action">
                                    <img src="../../assets/images/faq/plus.png" alt="" class="open">
                                    <img src="../../assets/images/faq/min.png" alt="" class="close">
                                </div>
                            </button>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                <strong>GoThru 360 Panorama Navigator</strong> allows you to find your location and show a virtual tour with 3D Panorama 360 degree and Street Panorama View. It is very simple and easy to find locations just type your favorite location name in the search bar and take an HD Gothru Virtual Tours of your prefered location.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <button class="btn btn-accordion" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                How do I install GoThru Navigator?
                                <div class="img-action">
                                    <img src="../../assets/images/faq/plus.png" alt="" class="open">
                                    <img src="../../assets/images/faq/min.png" alt="" class="close">
                                </div>
                            </button>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                                <div class="widget">
                                    <h5>Installing Navigator on an Android</h5>

                                    <ol>
                                        <li>Tap the Play Store icon on the Home screen.</li>
                                        <li>Tap the Search box at the top of the screen, and start typing the word <strong>GoThru 360 Panorama Navigator</strong>.</li>
                                        <li>Tap <strong>GoThru 360 Panorama Navigator</strong> in the results list.</li>
                                        <li>Tap <strong>Install</strong>.</li>
                                        <li>Tap Open.</li>
                                    </ol>
                                </div>
                                <div class="widget">
                                    <h5>Installing Navigator on an iPhone</h5>

                                    <ol>
                                        <li>Tap the App Store icon.</li>
                                        <li>Tap the Search box, at the top of the screen, and start typing the word <strong>GoThru 360 Panorama Navigator</strong>.</li>
                                        <li>Tap <strong>GoThru 360 Panorama Navigator</strong> in the results list.</li>
                                        <li>Tap Get.</li>
                                        <li>Tap Open.</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <button class="btn btn-accordion" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                Can GoThru 360 Panorama Navigator do panorama stitching?
                                <div class="img-action">
                                    <img src="../../assets/images/faq/plus.png" alt="" class="open">
                                    <img src="../../assets/images/faq/min.png" alt="" class="close">
                                </div>
                            </button>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                            <div class="card-body">
                                <strong>The GoThru 360 Panorama Navigator</strong> is not a panoramic stitcher. It is a 360 panorama or virtual tour viewer.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingFive">
                            <button class="btn btn-accordion" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                Where is the tour host?
                                <div class="img-action">
                                    <img src="../../assets/images/faq/plus.png" alt="" class="open">
                                    <img src="../../assets/images/faq/min.png" alt="" class="close">
                                </div>
                            </button>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                            <div class="card-body">
                                Google and GoThru servers.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingSix">
                            <button class="btn btn-accordion" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                What are the GoThru 360 Panorama Navigator tools?
                                <div class="img-action">
                                    <img src="../../assets/images/faq/plus.png" alt="" class="open">
                                    <img src="../../assets/images/faq/min.png" alt="" class="close">
                                </div>
                            </button>
                        </div>
                        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                            <div class="card-body">
                                <div class="widget">
                                    <h5>GoThru Navigator comes up with professional functions like:</h5>

                                    <ul class="list-feature">
                                        <li>- Offline Navigation</li>
                                        <li>- Locking the App to Only One Tour</li>
                                        <li>- Navigation Arrows</li>
                                        <li>- Menu</li>
                                        <li>- Hotspots (Text, Image and Video)</li>
                                        <li>- Background Audio</li>
                                        <li>- Default Tour</li>
                                        <li>- Branding</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingSeven">
                            <button class="btn btn-accordion" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                Do I need VR gears to view the virtual tours?
                                <div class="img-action">
                                    <img src="../../assets/images/faq/plus.png" alt="" class="open">
                                    <img src="../../assets/images/faq/min.png" alt="" class="close">
                                </div>
                            </button>
                        </div>
                        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
                            <div class="card-body">
                                No. VR gears often enhance the experience, but they are not necessary. It works without VR
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingEight">
                            <button class="btn btn-accordion" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                How much does it cost?
                                <div class="img-action">
                                    <img src="../../assets/images/faq/plus.png" alt="" class="open">
                                    <img src="../../assets/images/faq/min.png" alt="" class="close">
                                </div>
                            </button>
                        </div>
                        <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
                            <div class="card-body">
                                It is free to use.
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingNine">
                            <button class="btn btn-accordion" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                How is a menu and hotspot created?
                                <div class="img-action">
                                    <img src="../../assets/images/faq/plus.png" alt="" class="open">
                                    <img src="../../assets/images/faq/min.png" alt="" class="close">
                                </div>
                            </button>
                        </div>
                        <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
                            <div class="card-body">
                                The menu and hotspot are created and published using GoThru Overlay Editor
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 order-2">
                <img src="../../assets/images/faq/img-faq.png" alt="" class="img-faq">
            </div>
        </div>
    </div>
</section>