<section class="section">
        <div class="container">
                <div class="wrap-title justify-content-center text-center">
                        <h5 class="title ml-2 mr-2">Features</h5>
                        <p class="text-muted desc">Gothru navigator is a professional oriented application intended for real estate, google trusted photographers, architects or anyone that needs to view navigable tours, with hotspots and menus.</p>
                </div>
        	<div class="row features">
			<div class="col-lg-4">
				<div class="item-features">
                                        <img src="../../assets/images/features/brush-f.png" alt="" class="attr-img">
					<img src="../../assets/images/features/img-1.png" alt="" width="150">
					<h5 class="title-features">Offline navigation</h5>
					<p>The Gothru Navigator allows you to take virtual tours of properties, venues and other physical spaces offline and navigate within a tour even without an internet connection.</p>
				</div>
			</div>
                        <div class="col-lg-4">
				<div class="item-features">
                                        <img src="../../assets/images/features/brush-f.png" alt="" class="attr-img">
					<img src="../../assets/images/features/img-2.png" alt="" width="150">
					<h5 class="title-features">Locking the app to only one tour</h5>
					<p>Lock the app to only one tour so you can approach and show your potential buyers a virtual tour with no trouble using Gothru Navigator locking feature.</p>
				</div>
			</div>
                        <div class="col-lg-4">
				<div class="item-features">
                                        <img src="../../assets/images/features/brush-f.png" alt="" class="attr-img">
					<img src="../../assets/images/features/img-3.png" alt="" width="150">
					<h5 class="title-features">Navigation arrows</h5>
					<p>Explore by moving between panoramas within a tour using navigation arrows</p>
				</div>
			</div>
                        <div class="col-lg-4">
				<div class="item-features">
                                        <img src="../../assets/images/features/brush-f.png" alt="" class="attr-img">
					<img src="../../assets/images/features/img-4.png" alt="" width="150">
					<h5 class="title-features">Menu</h5>
					<p>Jump straight to that place in the tour that most interests you, using the tour menu, with direct links to specific areas.</p>
				</div>
			</div>
                        <div class="col-lg-4">
				<div class="item-features">
                                        <img src="../../assets/images/features/brush-f.png" alt="" class="attr-img">
					<img src="../../assets/images/features/img-5.png" alt="" width="150">
					<h5 class="title-features">Hotspots</h5>
					<p>Call up information to find out more about the features of any viewpoint using text, image or video hotspots.</p>
				</div>
			</div>
                        <div class="col-lg-4">
				<div class="item-features">
                                        <img src="../../assets/images/features/brush-f.png" alt="" class="attr-img">
					<img src="../../assets/images/features/img-6.png" alt="" width="150">
					<h5 class="title-features">Background audio</h5>
					<p>Immerse yourself in the virtual tour with background sound or voiceover.</p>
				</div>
			</div>
                        <div class="col-lg-4">
				<div class="item-features">
                                        <img src="../../assets/images/features/brush-f.png" alt="" class="attr-img">
					<img src="../../assets/images/features/img-7.png" alt="" width="150">
					<h5 class="title-features">Default tour</h5>
					<p>Choose your default tour to start with,  when you open GoThru Navigator on the main page.</p>
				</div>
			</div>
                        <div class="col-lg-4">
				<div class="item-features">
                                        <img src="../../assets/images/features/brush-f.png" alt="" class="attr-img">
					<img src="../../assets/images/features/img-8.png" alt="" width="150">
					<h5 class="title-features">Branding</h5>
					<p>Reveal your business logo within a tour and invite new customers to get to know your business.</p>
				</div>
			</div>
                        <div class="col-lg-4">
				<div class="item-features">
                                        <img src="../../assets/images/features/brush-f.png" alt="" class="attr-img">
					<img src="../../assets/images/features/img-9.png" alt="" width="150">
					<h5 class="title-features">Street View Map</h5>
					<p>Quickly go point to point and view panoramas directly using the markers on the map.</p>
				</div>
			</div>
                </div>
        </div>
</section>