<header class="bg-dark py-5">
    <div class="container">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-xl-start">
					<img src="../../assets/images/brush.png" class="fw-bolder"/>
                    <h1 class="display-1 animate__animated animate__bounce">GoThru 360 Panorama Navigator</h1>
                    <p class="lead fw-normal display-2 mb-4">GoThru Moderator is the first professional moderator that gives the ability to create a constellation out of the panoramic images and publish the tour directly on Google Street View.</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        <a class="btn btn-warning btn-lg px-4 me-sm-3" href="https://play.google.com/store/apps/details?id=com.Raf1Dev.GoThruNavigator">Download</a>
                        <a class="btn btn-outline-light btn-lg px-4" href="/about">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block"><img class="img-fluid rounded-3 attr-img" src="../../assets/images/img-1.png" alt="..." /></div>
        </div>
    </div>
</header>