<section id="testimonial" class="testimonial section">
    <div class="container">
        <div class="wrap-title justify-content-center">
            <img src="../../assets/images/attr-image/line-title-left-2.png" alt="" class="img-3">
            <h5 class="title ml-2 mr-2">Testimonial</h5>
            <img src="../../assets/images/attr-image/line-title-right.png" alt="" class="img-2">
        </div>
       
        <div class="wrap-item-testimonial">
            <div class="item-testimonial">
                <div class="desc">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lacus diam magna leo dolor orci hac aliquet felis ultces. Egestas sed ultrices pretium ut eget suspendisse mauris gravida elementum. Ac euismod tortor leo eu fermenum ultrices. Nunc eget consequat id eu mi ullamcorper dui. Pellentesque sed rhoncus felis, erat. 😉</p>
                </div>
                <div class="user">
                    <img src="../../assets/images/brush.png" width="30">
                    <h5>Arabella Ora</h5>
                    <div>México Business View<img src="../../assets/images/rating/4star.png" width="100" class="rating"></div>
                </div>
            </div>
        </div>

        <div class="wrap-item-testimonial">
            <div class="item-testimonial">
                <div class="desc">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit 😆. Lacus diam magna leo dolor orci hac aliquet felis ultces. Egestas sed ultrices pretium ut eget suspendisse mauris gravida elementum. Ac euismod tortor leo eu fermenum ultrices. Nunc eget consequat id eu mi ullamcorper dui. Pellentesque sed rhoncus felis, erat. </p>
                </div>
                <div class="user">
                    <img src="../../assets/images/brush.png" width="30">
                    <h5>Toribio Nerthus</h5>
                    <div>Canada Business View<img src="../../assets/images/rating/5star.png" width="100" class="rating"></div>
                </div>
            </div>
        </div>

        <div class="wrap-item-testimonial">
            <div class="item-testimonial">
                <div class="desc">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lacus diam magna leo dolor orci hac aliquet felis ultces. Egestas sed ultrices pretium ut eget suspendisse mauris gravida elementum. Ac euismod tortor leo eu fermenum ultrices. Nunc eget consequat id eu mi ullamcorper dui. Pellentesque sed rhoncus felis, erat. </p>
                </div>
                <div class="user">
                    <img src="../../assets/images/brush.png" width="30">
                    <h5>Malvina Cilla</h5>
                    <div>Germany Business View<img src="../../assets/images/rating/5star.png" width="100" class="rating"></div>
                </div>
            </div>
        </div>
    </div>
</section>