{{#> base }}

	{{> header faq=this }}
		<section class="py-5 bg-dark faq">
            <div class="container px-5 my-5">
                <div class="text-center mb-5">
                    <h1 class="fw-bolder">Frequently Asked Questions</h1>
                    <p class="text-muted mb-0">How can we help you?</p>
                </div>
			</div>
		</section>
	{{> faq-component faq=this}}
	{{> footer faq=this}}
{{/ base }}