{{#> base }}

	{{> header procedure=this }}
        <section class="procedure">
            <div class="container">
                <div class="wrap-content">
                    <div class="row">

                        <div class="col-lg-6 order-1 animate__animated animate__fadeInLeft">
                            <div class="content">

                                <div class="wrap-title">
                                    <img src="../../assets/images/brush.png" class="fw-bolder"/>
                                    <h1 class="display-1 ml-2 mr-2">How It Works ?</h1>
                                </div>

                                <ul class="procedure-text">
                                    <li>Search any location around you or all over the world.</li>
                                    <li>Navigate the tour using navigation arrows.</li>
                                    <li>Move your mobile device around and see the environment as if you are holding a camera.</li>
                                    <li>You can use your fingers to pan around or zoom in and out.</li>
                                    <li>Tap the screen to see the hotspots. Tapping the hotspots will open up its popup content like text, image, audio or video.</li>
                                    <li>When exploring a tour, look down on the nadir to open the main menu.</li>
                                </ul>

                            </div>
                        </div>
                        <div class="col-lg-6 order-2">
                            <div class="wrap-iframe">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/15fbXCFDpfE?list=PLCEKxT4CRIOk9btwrktU7RDsEAoxJnFW6" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    {{> testimonial procedure=this }}
    {{> footer procedure=this }}
    
{{/ base }}