<footer class="footer">
  <div class="container">
      <div class="row">
          <div class="col-lg-4">
              <h5><a class="brand" href="#">GoThru<img src="../../assets/images/vr.png" class="vr-icon" alt="" width="30"/></a></h5>
              <p class="descr">Lorem ipsum dolor sit amet, consectetur a piscing elit. Odio pellentesque tortor ur na in uris est felis viverra a. </p>
          </div>
          <div class="col-lg-2">
              <div class="widget">
                  <h5>Menu</h5>
                  <ul>
                      <li><a href="/home">Home</a></li>
                      <li><a href="/about">About</a></li>
                      <li><a href="/procedure">How it Works</a></li>
                      <li><a href="/faq">FAQ</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-3">
              <div class="widget">
                  <h5>CONTACT US</h5>
                  <ul>
                      <li class="l1">Toronto, Ontario Canada</li>
                      <li class="l1">Phone: (800) 461-2405</li>
                      <li class="l1"><a href="mailto:info@gothru.co">Email: info@gothru.co</a></li>
                      <li class="l1"><a href="mailto:support@gothru.co">Email: support@gothru.co</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-3">
              <div class="wrap-icon">
                <a href="#">
                  <img src="../../assets/images/instagram.png" alt="">
                </a>
                <a href="#">
                  <img src="../../assets/images/facebook.png" alt="">
                </a>
                  <a href="#">
                    <img src="../../assets/images/twitter.png" alt="">
                  </a>
              </div>
          </div>
      </div>
  </div>
</footer>

<div class="sub-footer">
	<div class="container">
		<div class="content-sub-footer">
			<div class="global-lenguage dropup">
				<img src="../../assets/images/globe.png" alt="" width="22">
				<h5>Languages</h5>
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>

					<div class="dropdown-menu">
						<ul>
							<li>
	                            <a href=""><img src="../../assets/images/Lang/english.jpg" class="lang"/></a>
							</li>
							<li>
								<a href=""><img src="../../assets/images/Lang/japan.jpg" class="lang"/></a>
							</li>
							<li>
								<a href=""><img src="../../assets/images/Lang/china.png" class="lang"/></a>
							</li>
							<li>
								<a href=""><img src="../../assets/images/Lang/indonesia.png" class="lang"/></a>
							</li>
							<li>
								<a href=""><img src="../../assets/images/Lang/germany.jpg" class="lang"/></a>
							</li>
						</ul>
					</div>
				</div>
			        <div class="copyright">
						2021 | ALL RIGHTS RESERVED | Gothru Media Inc.
					</div>
			</div>
		</div>
	</div>
</div>